$gold: #ffd700;

// Neutrals
$grey-0: #ffffff;
$grey-100: #91949a;
$grey-900: #0f151a;

$font-stack: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$base-size: 10px;

$transition: all 0.3s linear;
