// Neutrals
$grey-0: #ffffff;
$grey-200: #f4f3ee;
$grey-600: #7d8ca3;
$grey-900: #0e131f;

$font-stack: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$mono-stack: "SF Mono", Consolas, "Andale Mono WT", "Andale Mono", Monaco,
  "Courier New", Courier, monospace;

$base-size: 10px;

$transition: all 0.3s linear;
