.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pg-container {
  margin: 100px 4% 100px 8%;
  display: flex;
  flex-direction: column;
}
.contact {
  margin-top: 8px;
  .--id {
    display: flex;
    align-items: baseline;
  }
  .__name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
    margin-right: 8px;
  }
  .__mail {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  .__social {
    display: flex;
    margin-bottom: 4px;
    .__link {
      display: block;
      margin-right: 20px;
      width: 28px;
      height: 28px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 4px;
      &:hover {
        background: $grey-200;
      }
      svg {
        width: 18px;
        height: 18px;
        fill: $grey-200;
        -webkit-transition: fill 0.3s linear;
        transition: fill 0.3s linear;
      }
      &:hover {
        transform: scale(1.03);
        svg {
          fill: $grey-900;
        }
      }
    }
  }
}

.pg--block {
  margin-top: 64px;
  display: flex;
  .block__title {
    width: 280px;
    font-size: 1.6rem;
    line-height: 24px;
    text-decoration: underline;
  }
  .block__content {
    max-width: 660px;
    .__main--desc {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 32px;
    }
    .__desc {
      font-size: 1.8rem;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $grey-200;
    }
  }
}

.work-list {
  .list-item {
    margin-bottom: 24px;
    .list__title {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 28px;
    }
    .list__desc {
      margin-top: 4px;
      font-size: 1.6rem;
      line-height: 24px;
      .duration {
        color: $grey-200;
      }
    }
  }
}

.pastRole {
  color: #abb5c4 !important;
}
