.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bgBackground {
  background: $grey-900;
}

.pg-container {
  margin-top: 12%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  .titleName {
    margin-top: 24px;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0.04em;
  }
  .titleDesc {
    margin-top: 16px;
    color: $gold;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .desc {
    max-width: 720px;
    .top {
      margin-top: 32px;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.01em;
      max-width: 660px;
    }
    .lower {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #91949a;
      margin-top: 24px;
    }
  }
  .contact {
    margin-top: 36px;
    .__mail {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
    }
    .__social {
      margin-top: 24px;
      display: flex;
      .__link {
        display: block;
        margin-right: 28px;
        width: 28px;
        height: 28px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 4px;
        svg {
          width: 20px;
          height: 20px;
          fill: #91949a;
          -webkit-transition: fill 0.3s linear;
          transition: fill 0.3s linear;
        }
        &:hover {
          transform: scale(1.03);
          svg {
            fill: $gold;
          }
        }
      }
    }
  }
}
